@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700;900&display=swap');

:root {
    --background--color1: #121D31;
    --background--color2: #000A1F;
    --default--color: #cccccc;
    --main--font: "Atkinson Hyperlegible", sans-serif;
}

* {
    font-family: var(--main--font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background--color2);
    width: 100%;
    height: 100vh;
    color: var(--default--color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px 20px 70px;
    background-color: var(--background--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo img {
    user-select: none;
    width: 100%;
    height: 90px;
}

.navigation a {
    position: relative;
    font-size: 1.3em;
    color: var(--default--color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
}

.navigation a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 3px;
    background-color: var(--default--color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:nth-child(1)::after { width: 49px; }
.navigation a:nth-child(2)::after { width: 58px; }
.navigation a:nth-child(3)::after { width: 83px; }
.navigation a:nth-child(4)::after { width: 108px; }

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--default--color);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--default--color);
    transition: 0.5s;
}

.navigation .btnLogin:hover {
    background-color: var(--default--color);
    color: var(--background--color2);
}

/* Background Section */
.background-section {
    background-image: url('../Contents/movie6.jpg');
    background-size: cover;
    background-position: center top;
    height: 70vh;
    margin-top: 20px;
    color: var(--default--color);
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.movie-title h1 {
    font-size: 3em;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.movie-title p {
    font-size: 1.3em;
    font-weight: bold;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    color: var(--default--color);
    font-size: 1.9em;
    gap: 20px;
}

.movie-details {
    flex: 2;
    max-width: 45%;
}

.movie-extra-details {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-extra-details p {
    white-space: nowrap;
}

.movie-info p {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Showtimes Section */
.showtimes-section {
    padding: 40px; 
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.theater {
    position: relative;
    background-color: var(--background--color1);
    padding: 50px; 
    width: 100%;
    max-width: 2000px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 5px solid white;
}

.theater .info {
    flex: 1;
    text-align: left;
    font-size: 1.9em;
}

.theater .info p:nth-of-type(1) {
    font-size: 0.7em; 
    font-weight: bold;
    color: gray;
}

.theater .info p:nth-of-type(2) {
    font-size: 1.9em; 
    font-weight: bold;
}

.theater .times {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.theater .buy-ticket-btn {
    flex: 1;
}

.times {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.time-btn {
    background-color: #000A1F;
    color: #FFFFFF;
    padding: 30px 20px;
    border: 4px solid red;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.time-btn:hover {
    background-color: red;
}

.buy-ticket-btn {
    background-color: rgb(60, 60, 202);
    color: white;
    padding: 35px 20px;
    border: none;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 125px;
    margin-left: 20px;
    transition: background-color 0.3s;
    border-radius: px;
}

.buy-ticket-btn:hover {
    background-color: darkblue;
}